package ${request.package}.bean.ex;

import ${request.package}.bean.bs.${request.tableMap.baseBeanClassName};

/**
 * Solr検索結果保存用Bean
 * string, tint, tlong, tdate, text_ja, text_cjkのみに対応しています
 *
 * 独自メソッドはここに追加してください
 * @author FreeGen
 */
public class ${tableMap.extendedBeanClassName} extends ${tableMap.baseBeanClassName} {

}
